<form #loginForm="ngForm" (ngSubmit)="UpdateUser(loginForm.value)">
    <h1>Update Form</h1>
  
    <div class="main">
      <div class="input-fields">
        <input name="Adi" ngModel placeholder="Name" id="name" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="Soyadi" ngModel placeholder="soyad" id="name" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="Eposta" ngModel placeholder="esposta" id="name" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="Ceptelefon" ngModel placeholder="ceptelefon" id="name" type="number" class="input-field" />
      </div>
      
      <button>Update Data </button>
    </div>
  
   

  </form>

  